@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
